{:paths ["src/main" "src/test"]
 :deps  {no.cjohansen/replicant {:mvn/version "2026.06.2"}
         no.cjohansen/nexus     {:mvn/version "2026.06.3"}
         thheller/shadow-cljs   {:mvn/version "3.4.11"}}}
