{:source-paths ["src" "portfolio"]
 :dependencies [[no.cjohansen/replicant "2026.06.2"]
                [no.cjohansen/nexus "2026.06.3"]
                [no.cjohansen/portfolio "2026.03.1"]
                [no.cjohansen/dataspex "2026.06.3"]
                [no.cjohansen/phosphor-clj "2025.04.16"]
                [datascript "1.7.8"]]
 :dev-http     {8080 ["public" "classpath:public"]
                8090 ["dev-resources/public" "public" "classpath:public"]}
 :builds       {:app       {:target           :browser
                            :modules          {:main {:init-fn decomplecting.main/init}}
                            :compiler-options {:externs ["datascript/externs.js"]}}
                :portfolio {:target    :portfolio
                            :runner-ns decomplecting.portfolio
                            :dev       {:output-dir "dev-resources/public/js"}}}}
